img {
    height: 300px;
}
p {
    font-family: 'Anton', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Josefin Slab', serif;
} 

h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Josefin Slab', serif;
}
h2{
    font-family: 'Anton', sans-serif;
 font-family: 'Shadows Into Light', cursive;
 font-family: 'Cookie', cursive;
 font-family: 'Monoton', cursive;
 font-family: 'Josefin Slab', serif;
}